*.ap_
*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
*.log

.DS_Store
.gradle
.idea/
.idea_modules/
/build
/captures
/local.properties
/out/
atlassian-ide-plugin.xml
bin/
build/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
gen/
local.properties
proguard/
